<table id="logs-table" class="">
  <thead>
  <tr>
    <th>Time</th>
    <th>Level</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= form_tag url_for, :method => 'get', :format => :js, :id => 'kb_host-form', :class => 'form-horizontal', :style => 'display: none;' do %>
  <div id="logs-form">
    <div class="form-inline form-api-search d-flex align-items-center">
      <%= text_field_tag :kb_host, kb_host, :class => 'form-control' %>
      <%= render "kaui/components/button/button", {
        label: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.167 14.167L17.5003 17.5003" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>'.html_safe,
        variant: "outline-secondary d-inline-flex align-items-center gap-1",
        type: "submit",
        html_class: "kaui-dropdown custom-hover mx-2",
      } %>
    </div>
  </div>
<% end %>

<style>
  .form-api-search input {
    width: 20rem;
    height: 2.2rem;
    padding: 0.3rem 1rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    outline: none;
  }

  #logs-table_filter input {
    width: 20rem;
    height: 2.2rem;
    padding: 0.3rem 1rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    outline: none;
  }

  #logs-table_filter input:focus {
    border: 0.0625rem solid #1A73E8;
    outline: none;
    box-shadow: 0;
  }

</style>

<%= javascript_tag do %>
  $(document).ready(function() {
    window.logsDataTable = $('#logs-table').DataTable({
      "columns": [
        { "width": "165px" }, /* ISO String is constant in width */
        { "width": "60px" },  /* Log levels are bounded in width */
        null,
      ],
      "dom": "<'row'<'col-md-6'><'col-md-6'f>>t<'row'<'col-md-6'><'col-md-6'>>",
      "ordering": true,
      "pageLength": 100
    });

    var kbHostForm = $('#kb_host-form').detach();
    var leftOfSearchBox = $("#logs-table_wrapper > div:nth-child(1) > div:nth-child(1)");
    kbHostForm.appendTo(leftOfSearchBox);
    kbHostForm.show();
  });
<% end %>
